.card {
    border: 1px solid black;
    padding: '2rem';
    display: flex;
    justify-content:center;
    align-items: center;
    width: 120px;
    height:80px; 
    border-radius:20px;
    background-color: var(--yellow);

}